<%= turbo_frame_tag dom_id(greentea, :like_greentea) do %>
<div class='container mx-auto flex justify-center items-center p-3'>
<%= link_to greentea_like_path(current_user.greentea_likes.find_by(greentea_id: greentea.id)),
            class: 'btn btn-wide btn-error-content',
            id: "js-greentea_like-button-for-greentea-#{greentea.id}",
            data: { turbo_method: :delete } do %>
  <svg style="color: red" xmlns="http://www.w3.org/2000/svg" class="mr-2 -ml-1 w-6 h-6" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" /></svg>いいね解除
<% end %>
</div>
<% end %>
