 <p class="font-mono text-6xl text-gray-800 text-center">
  抹茶と神社。
</p>
<p class="font-serif text-6xl text-gray-800 text-center">
  抹茶と神社。
</p>
<p class="font-sans text-6xl text-gray-800 text-center">
  抹茶と神社。
</p>