<div class="max-w-screen-md grid sm:grid-cols-2 mx-auto">
  <div class="sm:col-span-2 p-3.5 items-center text-center">
    <%= image_tag 'logo.png' %>
      <p class="mt-2 p-3.5 text-gray-700">
        抹茶スイーツ店と神社仏閣<br>
        どちらも最適な道順を選んで旅をしよう
      </p>
      <div class="sm:col-span-2 p-1.5 items-center text-center">
        <%= link_to '抹茶スイーツで検索', '#', class:"bg-green-700 text-white  hover:bg-green-900 hover:text-white focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center mr-2" %>
      </div>
      <div class="sm:col-span-2 p-1.5 items-center text-center">
        <%= link_to '神社仏閣で検索', '#', class:"bg-red-700 text-white  hover:bg-red-900 hover:text-white focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center mr-2" %>
      </div>
      <div class="sm:col-span-2 p-1.5 items-center text-center">
        <%= link_to '現在地で検索', '#', class:"bg-gray-500 text-white hover:bg-gray-700 hover:text-white focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center mr-2" %>
      </div>
     <button class="btn btn-primary">Button</button>
  </div>
</div>
