<div class="max-w-screen-md grid sm:grid-cols-2 mx-auto items-center text-center">
  <div class="sm:col-span-2 p-3.5 items-center text-center">
    <%= image_tag 'logo.png', size: '500x500' %>
      <p class="mt-2 p-3.5 text-info font-serif text-xl font-bold">
        折角京都に来たのなら<br>
        抹茶スイーツ店と神社仏閣<br>
        どちらも欲張って巡ってみよう
      </p>
    <div class="sm:col-span-2 p-2 items-center text-center">
      <%= link_to '抹茶スイーツで検索', greenteas_path, class: 'button btn btn-success', style: 'color: white'  %>
    </div>
    <div class="sm:col-span-2 p-2 items-center text-center">
      <%= link_to '神社仏閣で検索', temples_path, class: 'button btn btn-primary', style: 'color: white' %>
    </div>
    <div class="sm:col-span-2 p-2 items-center text-center">
      <%= link_to '現在地で検索', current_location_path, class: 'button btn btn-neutral', style: 'color: white'  %>
    </div>
  </div> 
</div>
