<div data-turbo="false">
<div class="container mx-auto flex justify-center items-center">
  <div class="sm:col-span-2 p-3.5">
    <%= image_tag 'logo.png', size: '500x500' %>
      <p class="mt-2 p-3.5 text-info font-serif text-xl font-bold text-center">
        折角京都に来たのなら<br>
        抹茶スイーツ店と神社仏閣<br>
        どちらも欲張って巡ってみよう
      </p>
    <div class="sm:col-span-2 p-2  text-center">
      <%= link_to '抹茶スイーツで検索', greenteas_path, class: 'btn btn-wide btn-secondary', style: 'color: white' %>
    </div>
    <div class="sm:col-span-2 p-2  text-center">
      <%= link_to '神社仏閣で検索', temples_path, class: 'btn btn-wide btn-primary', style: 'color: white' %>
    </div>
    <div class="sm:col-span-2 p-2  text-center">
      <%= link_to '現在地で検索', current_location_path, class: 'btn btn-wide btn-neutral', style: 'color: white' %>
    </div>
  </div>
</div>
</div>
