<p>
<div>
  <% current_user = User.find(session[:user_id]) %>
  <%= "現在ログイン中のユーザーのID：#{current_user.id}" %>
</div>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
