<header>
  <div class="navbar bg-base-200">
    <div class="flex-none">
      <div class="navbar-start">
        <div class="dropdown">
          <button class="btn btn-square btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
          <ul tabindex="0" class="menu menu-conpact dropdown-content mt-3 p-2 shadow bg-base-200 rounded-box w-52">
            <li><%= link_to '会員登録/ログイン', '#' %></li>
            <li><%= link_to 'マイページ', '#' %></li>
          </ul>
          </button>
        </div>
      </div>
      <div class="flex-0">
        <button class="btn btn-square btn-ghost">
          <%= link_to root_path do %>
            <%= image_tag 'logo2.png' %>
          <% end %>
        </button>
      </div>
    </div>
  </div>
</header>
