<div class="card w-96 bg-primary shadow-xl items-center">
    <% @temples.each do |temple| %>
    <div class="p-3.5">
      <figure><%= image_tag 'sample.png', size: '300x200' %></figure>
       <div class="p-3.5">
        <div class="card-body">
        中心から<%= "#{@greentea.get_distance(@latitude, @longitude)} "%>m 
          <h2 class="card-title">
            <div class="card-actions justify-end">
             <div class="p-3.5">
              <%= link_to temple.name, temple_path(temple), class: 'button btn btn-error', style: 'color: white'%>
          </h2>
            </div>
        </div>
    </div>
    <% end %>
  </div>
</div>