<div class="w-full h-screen" id='map'></div>

<script>
var map;
var currentMarker;
var greenteaMarker = []; //マーカーを複数表示させるため配列化
var templeMarker = []; //マーカーを複数表示させるため配列化
var greenteaWindow = []; //吹き出しを複数表示させたいので配列化
var templeWindow = []; //吹き出しを複数表示させたいので配列化
const greenteas = gon.greenteas; //コントローラで定義したインスタンス変数を変数に代入
const temples = gon.temples;

function initMap(){
  // mapの初期位置設定
  map = new google.maps.Map(document.getElementById('map'), {
    center: { lat: 34.985, lng: 135.758},
    zoom: 16
  });

  // 現在位置の特定
  navigator.geolocation.getCurrentPosition(function (position){
    // LatLngに位置座標を代入
    LatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

  // 現在位置のマーカーの設定
  currentMarker = new google.maps.Marker({
        map: map,
        position : LatLng,
        icon: {
             fillColor: "#008DBD",                //塗り潰し色
             fillOpacity: 0.8,                    //塗り潰し透過率
             path: google.maps.SymbolPath.CIRCLE, //円を指定
             scale: 15,                           //円のサイズ
             strokeColor: "#008DBD",              //枠の色
            strokeWeight: 1.0                    //枠の透過率
        },
        label: {
             text: '現',                           //ラベル文字
             color: '#FFFFFF',                    //文字の色
             fontSize: '20px'                     //文字のサイズ
        }
  });

 // map.setCenterで地図が移動
    map.setCenter(LatLng);

  if (gon.greenteas) {

  // forは繰り返し処理
    // 変数iを0と定義し、
    // その後gonで定義したgreenteas分繰り返し加える処理を行う
    for (let i = 0; i < greenteas.length; i++){
      // greenteas[i]は変数iのユーザーを取得している
      greenteaMarker[i] = new google.maps.Marker({
        position: {
          // DBに保存してある、緯度・経度を呼び出す
          lat: greenteas[i].latitude,
          lng: greenteas[i].longitude
        },
        map: map,
        icon: {
          	url: '/assets/greentea_icon.png',         //アイコンのURL
		        scaledSize: new google.maps.Size(40, 40)  //サイズ
        },
        animation: google.maps.Animation.DROP
      });

      // 変数iを変数idに代入
      let id = greenteas[i]['id']

      // infoWindowは吹き出し
      greenteaWindow[i] = new google.maps.InfoWindow({
        // contentで中身を指定
        // 今回は文字にリンクを貼り付けた形で表示
        content: `<a href='/greenteas/${id}'>${greenteas[i].name}</a>`
      })

        // markerがクリックされた時、
      greenteaMarker[i].addListener("click", function(){
        // infoWindowを表示
        greenteaWindow[i].open(map, greenteaMarker[i]);
      });
    }
  }

  if (gon.temples) {
  // forは繰り返し処理
    // 変数iを0と定義し、
    // その後gonで定義したtemples分繰り返し加える処理を行う
    for (let i = 0; i < temples.length; i++){
      // temples[i]は変数iのユーザーを取得している
      templeMarker[i] = new google.maps.Marker({
        position: {
          // DBに保存してある、緯度・経度を呼び出す
          lat: temples[i].latitude,
          lng: temples[i].longitude
        },
        map: map,
        icon: {
       	    url: '/assets/torii_icon.png',             //アイコンのURL
		        scaledSize: new google.maps.Size(40, 40) //サイズ
        },
        animation: google.maps.Animation.DROP
      });

      // 変数iを変数idに代入
      let id = temples[i]['id']

      // infoWindowは吹き出し
      templeWindow[i] = new google.maps.InfoWindow({
        // contentで中身を指定
        // 今回は文字にリンクを貼り付けた形で表示
        content: `<a href='/temples/${id}'>${temples[i].name}</a>`
      });

      // markerがクリックされた時、
      templeMarker[i].addListener("click", function(){
        // infoWindowを表示
        templeWindow[i].open(map, templeMarker[i]);
      });
    }
   }
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap" async defer>
</script>
