<div class="container mx-auto flex justify-center items-center">
  <div class="sm:col-span-2 p-3.5">
    <%= image_tag 'logo.png', size: '500x500' %>
    <div class="mt-2 p-3.5 text-success font-serif text-3xl font-bold text-center">
      お探しのページは見つかりません。<br>
      404: Not Found
    </div>
    <div class="mt-2 p-3.5 text-primary-content font-serif text-lg text-center">
      お探しのページは一時的にアクセスができない状況にあるか、<br>
      移動もしくは削除された可能性があります。<br>
      またURL、ファイル名にタイプミスがないか再度ご確認ください。<br>
    </div>
    <div class='container mx-auto flex justify-center items-center p-3'>
      <%= link_to root_path, class: 'btn btn-sm btn-warning-content' do %>
      <svg class="mr-2 -ml-1 w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-skip-backward-fill" viewBox="0 0 16 16"> <path d="M.5 3.5A.5.5 0 0 0 0 4v8a.5.5 0 0 0 1 0V8.753l6.267 3.636c.54.313 1.233-.066 1.233-.697v-2.94l6.267 3.636c.54.314 1.233-.065 1.233-.696V4.308c0-.63-.693-1.01-1.233-.696L8.5 7.248v-2.94c0-.63-.692-1.01-1.233-.696L1 7.248V4a.5.5 0 0 0-.5-.5z" /></svg>トップページへ戻る
      <% end %>
    </div>
  </div>
</div>
