<div class="gird gird-cols-3 sm:col-span-2 p-3.5">
  <div id="temple-id-<%= temple.id %>">
    <div class="card w-96 bg-primary shadow-xl items-center">
        <figure><%= image_tag 'sample.png', size: '300x200' %></figure>
          <div class="card-body">
            <h2 class="card-title">
              <div class="card-actions justify-end">
              <div class="sm:col-span-2 p-3.5">
                <%= link_to temple.name, temple_path(temple), class: 'button btn btn-error', style: 'color: white'%>
              </div>
              </div>
            </h2>
          </div>
    </div>
  </div>
</div>