<h1>神社仏閣一覧</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>説明</th>
      <th>電話番号</th>
      <th>住所</th>
      <th>アクセス</th>
      <th>営業時間</th>
      <th>ホームページ</th>
      <th>緯度</th>
      <th>経度</th>
      <th>定休日</th>
      <th>写真</th>
    </tr>
  </thead>

  <tbody>
    <%# @temples.each do |greentea| %>
      <tr>
        <td><%#= temple.id %></td>
        <td><%#= temple.name %></td>
        <td><%#= temple.description %></td>
        <td><%#= temple.phone_number %></td>
        <td><%#= temple.address %></td>
        <td><%#= temple.access %></td>
        <td><%#= temple.business_hours %></td>
        <td><%#= temple.homepage %></td>
        <td><%#= temple.latitude %></td>
        <td><%#= temple.longitude %></td>
        <td><%#= temple.holiday %></td>
        <td><%#= temple.img %></td>
      </tr>
    <%# end %>
  </tbody>
</table>
