<div class="max-w-screen-md grid sm:grid-cols-2 mx-auto">
  <div class="sm:col-span-2 p-3.5 items-center text-center">
    <h1>神社仏閣を検索する</h1>
      <!-- 検索フォーム -->
      <%= render 'search_form', url: temples_path %>

       <!-- 神社仏閣一覧 -->
 
        <% if @temples.present? %>
          <%= render @temples %> 
        <% else %>
          <p><%= '検索結果はありません' %></p>
        <% end %>
        </div>
      </div>

      <!-- ページネーション -->
      <%= paginate @temples %>   
  </div>
</div>
