<div data-turbo="false">
  <div class="container mx-auto my-4">
    <h1 class='font-serif text-3xl font-bold text-center'>神社仏閣を検索する</h1>
    <!-- 検索フォーム -->
    <div class="p-3.5">
      <%= render 'search_form', url: temples_path %>
    </div>
    <!-- 抹茶スイーツ一覧 -->
    <div class="p-3.5">
      <% if @temples.present? %>
        <%= render @temples %>
      <% else %>
        <p><%= '検索結果はありません' %></p>
      <% end %>
    </div>
    <!-- ページネーション -->
    <div class="container mx-14">
      <%= paginate @temples %>
    </div>
  </div>
</div>
